@font-face {
  font-family: 'Norwester';
  src: url("../fonts/norwester-webfont.woff2") format("woff2"), url("../fonts/norwester-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 5;
}

.navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px;
  margin-bottom: 5px;
}

.nav-link {
  text-decoration: none;
  padding: 1rem 2.3rem;
  margin: 0 5px;
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #FC766A;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin: 0;
  background-size: cover;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #FC766A), color-stop(50%, white));
  background: linear-gradient(90deg, #FC766A 50%, white 50%);
}

.title h1 {
  font-family: "Norwester", sans-serif;
  font-size: 11rem;
  text-align: justify;
}

.title .accent {
  color: #FC766A;
}

.heading {
  font-family: "Norwester", sans-serif;
  text-align: center;
  font-size: 6rem;
  text-shadow: 3px 4px #FC766A;
  margin: 2% auto;
}

.container {
  margin: 0 auto;
  padding: 4% 10%;
  text-align: left;
  min-height: 60vh;
}

.container#about {
  background-color: #fff4e7;
}

.container .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .profile p {
  font-size: 1.1rem;
  line-height: 1.7;
}

.container .profile img {
  width: 25vw;
  margin-left: 6rem;
  border-radius: 50%;
}

.container .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .project h3 {
  font-size: 1.5rem;
}

.container .project .project__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  margin: 3% 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .project .project__image--two {
  width: 17vw;
  margin: 0;
}

.container .project .project__button-box {
  margin: 2rem auto;
}

.container .project .project__button-box .project__button {
  margin: 0 1rem;
  padding: 0.9rem 1.3rem;
  border-radius: 6px;
  text-decoration: none;
  color: #424651;
  font-family: "Roboto", sans-serif;
}

.container .project .project__button-box .code {
  border: 2px solid #FC766A;
  background-color: #FC766A;
}

.container .project .project__button-box .code:hover {
  background-color: white;
}

.container .project .project__button-box .site {
  background-color: #D7EBBA;
  border: 2px solid #D7EBBA;
}

.container .project .project__button-box .site:hover {
  background-color: white;
}

.container.left {
  background-color: #FC766A;
  color: white;
}

.container.left .project .project__image {
  margin-left: 4%;
}

.container.left .project img {
  margin: 3% 3%;
}

.container.left .project .code {
  border: 2px solid #f9fac6;
  background-color: #f9fac6;
}

.container.left .project .code:hover {
  background-color: #FC766A;
  color: white;
}

.container.left .project .site:hover {
  background-color: #FC766A;
  color: white;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 6rem;
  background-color: #273859;
  padding: 0.7rem;
}

#contact svg {
  height: 2.2rem;
  width: 3rem;
  padding: 10px;
  fill: white;
}

#contact svg:hover {
  fill: #f6b2b2;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#contact p {
  margin: 0 auto;
  color: white;
}

@media only screen and (max-width: 800px) {
  .container .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 80vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    min-height: 70vh;
  }
  .container .project .project__image {
    width: 60vw;
  }
  .container .project .project__image--two {
    width: 30vw;
  }
  .container .project.left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 80vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .profile {
    min-height: 60vh;
  }
}
/*# sourceMappingURL=style.css.map */