@import './variables';



body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif
}

/*Nav bar */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 65px;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}

.navlist {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-bottom: 5px;
}

.nav-link {
  text-decoration: none;
  padding: 15px 40px;
  margin: 0 5px;
  font-size: 18px;
  color: #000;
  border-radius: 7px;

  &:hover {
    background-color: white;
  }
}

/*title page */

.title {
  @include flexCenter(row);
  position: relative;
  margin: 0;
  background-size: cover;
  height: 100vh;
  background: linear-gradient(90deg, $coral 50%, white 50%);

  h1 {
    font-family: 'Norwester', sans-serif;
    font-size: 12rem;
  }
}

.accent {
  color: $coral;
  float: clear;
}

/*about page */



/*projects */

.project {
  @include flexCenter(column);
}

/*footer icons */
#contact {
  @include flexCenter(column);
  height: 4rem;
  background-color: $navy;
}

svg {
  height: 40px;
  width: 70px;
  padding: 10px;
  fill: white
}

svg:hover {
  fill: rgb(246, 178, 178);
  transition-duration: 0.3s;
}