@import './variables';


body {
  margin: 0;
  scroll-behavior: smooth;
}


nav {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 65px;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}

.navlist {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-bottom: 5px;
}

.nav-link {
  text-decoration: none;
  padding: 15px 40px;
  margin: 0 5px;
  font-family: $subtitle;
  color: #000;
  font-size: 1.2rem;

  &:hover {
    color: $coral;
  }
}

/*title page */

.title {
  @include flexCenter(row);
  position: relative;
  margin: 0;
  background-size: cover;
  height: 100vh;
  background: linear-gradient(90deg, $coral 50%, white 50%);

  h1 {
    font-family: $header;
    font-size: 11rem;
  }
}

.accent {
  color: $coral;
  float: clear;
}

/*about page */
.heading {
  font-family: $header;
  text-align: center;
  font-size: 4rem;
}




.container {
  @include margins();
  font-family: $subtitle;

  .profile {
    display: flex;
    padding: 4rem;

    img {
      width: 20vw;
      margin-left: 4rem;
      border-radius: 10px;
    }
  }
}

/*footer icons */
#contact {
  @include flexCenter(column);
  height: 5rem;
  background-color: $navy;
}

svg {
  height: 2.5rem;
  width: 3rem;
  padding: 10px;
  fill: white
}

svg:hover {
  fill: rgb(246, 178, 178);
  transition-duration: 0.3s;
}