@font-face {
    font-family: 'Norwester';
    src: url('../fonts/norwester-webfont.woff2') format('woff2'),
        url('../fonts/norwester-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    flex-direction: $direction;
}

@mixin margins() {
    margin: 0 auto;
    padding: 4% 10%;
    text-align: left;
    min-height: 60vh;
}

$header: 'Norwester',
sans-serif;
$subtitle: 'Montserrat',
sans-serif;
$font: 'Roboto',
sans-serif;

$coral: #FC766A;
$navy: #273859;
$charcoal: #424651;
$mint: #D7EBBA;
$lemon: #f9fac6;
$cream: #fff4e7;

$turquoise: #80FFE8;

$duration: .2s;
$distance: 5px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);